<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />
<title>bivouac</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<style>
    body { margin: 100; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
    </head>
    <body>
    <style>
    #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 60px;
    border-radius: 3px;
    width: 140px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
    }

    #mouse_info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
     
    #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    }
     
    #menu a:last-child {
    border: none;
    }
     
    #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
    }
     
    #menu a.active {
    background-color: #3887be;
    color: #ffffff;
    }
     
    #menu a.active:hover {
    background: #3074a4;
    }
    </style>
     
    <nav id="menu"></nav>
    <div id="map"></div>
    <pre id="mouse_info"></pre>

<script>

	mapboxgl.accessToken = 'pk.eyJ1IjoiY3Jpc3BpYW5tIiwiYSI6ImNsMG1oazJhejE0YzAzZHVvd2Z1Zjlhb2YifQ.cv0zlPYY6WnoKM9YLD1lMQ';
    // Use a minimal variant of the Mapbox Dark style, with certain features removed.
    const map = new mapboxgl.Map({
        style: 'mapbox://styles/crispianm/cl13itnrc005015pbpdw8v5yu',
        center: {
            lng: -2.648202,
            lat: 54.579422
        },
        zoom: 5.5,
        pitch: 0,
        container: 'map',
        antialias: true
    });

    map.addControl(new mapboxgl.FullscreenControl());

    map.addControl(new mapboxgl.NavigationControl());

    map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            // When active the map will receive updates to the device's location as it changes.
            trackUserLocation: true,
            // Draw an arrow next to the location dot to indicate which direction the device is heading.
            showUserHeading: true
        })
    );


    map.on('load', () => {
        
        map.addSource(
            'mapbox-dem', {
                'type': 'raster-dem',
                'url': 'mapbox://mapbox.terrain-rgb',
                'tileSize': 512,
                'maxzoom': 14
            });

        map.setTerrain({
            'source': 'mapbox-dem',
            'exaggeration': 1.5});

        map.addLayer({
            'id': 'sky',
            'type': 'sky',
            'paint': {
                'sky-type': 'atmosphere',
                'sky-atmosphere-sun': [0.0, 0.0],
                'sky-atmosphere-sun-intensity': 15
            }
        });

        map.addLayer({
            'id': 'hillshading',
            'source': 'mapbox-dem',
            'type': 'hillshade'
           },
            'waterway-river-canal-shadow'
        );

        // // HTML from the click event's properties.
        // map.on('click', 'Legality', (e) => {
        //     new mapboxgl.Popup()
        //         .setLngLat(e.lngLat)
        //         .setHTML(e.features[0].properties.spr16nm)
        //         .addTo(map);
        //     });

        // // Change the cursor to a pointer when
        // // the mouse is over the states layer.
        // map.on('mouseenter', 'Legality', () => {
        //     map.getCanvas().style.cursor = 'pointer';
        // });
        
        // // Change the cursor back to a pointer
        // // when it leaves the states layer.
        // map.on('mouseleave', 'Legality', () => {
        //     map.getCanvas().style.cursor = '';
        // });


        map.on('click', 'National Parks', (e) => {
            new mapboxgl.Popup()
                .setLngLat(e.lngLat)
                .setHTML(e.features[0].properties.name)
                .addTo(map);
            });
        
        // Change the cursor to a pointer when
        // the mouse is over the states layer.
        map.on('mouseenter', 'National Parks', () => {
            map.getCanvas().style.cursor = 'pointer';
        });
        
        // Change the cursor back to a pointer
        // when it leaves the states layer.
        map.on('mouseleave', 'National Parks', () => {
            map.getCanvas().style.cursor = '';
        });


        // HTML from the click event's properties.
        map.on('click', 'camp_landuse', (e) => {

            var radius = 5 
            const bbox = [
                [e.point.x - radius, e.point.y - radius],
                [e.point.x + radius, e.point.y + radius]
            ];

            // Find features in the bounding box.
            const features = map.queryRenderedFeatures(bbox, {
                layers: ['camp_landcover', 'camp_landuse', 'poi-labels']
            });
            const displayProperties = [
                // 'type',
                'properties',
                'id',
                'layer',
                // 'source',
                'geometry',
            ];

            const displayFeatures = features.map((feat) => {
                const displayFeat = {};
                displayProperties.forEach((prop) => {
                    displayFeat[prop] = feat[prop];
                });
                return displayFeat;
            });

            var camp_landuse_features = displayFeatures[0].properties;

            // new mapboxgl.Popup()
            //     .setLngLat(e.lngLat)
            //     .setHTML(
            //         '<h3>' + camp_landuse_features.class + '</h3>' +
            //         '<p>' + "(" + camp_landuse_features.type + ")" + '</p>'
            //     )
            //     .addTo(map);

            var mouse_info = $("#mouse_info").html();
            var zoom_level = map.getZoom();
            var feats = JSON.stringify(displayFeatures);

            var num_features = 'Waiting for result...';
            function callback(response) {
                num_features = response.some;
                console.log("Inside ajax: "+ num_features)
                //use feat_matrix variable here
            }

                $.ajax({
                 
                    type: 'POST',
                    async: false, // apparantly very sus, seems to work though. I reckon its effectively global from python
                    data: {
                        'features': feats,
                        'zoom_level': zoom_level,
                        'mouse_info': mouse_info
                    },
                    url: '/get_result',
                    success: callback, 
                });


            new mapboxgl.Popup()
                .setLngLat(e.lngLat)
                .setHTML(num_features)
                .addTo(map);
            
            });
            
            // new mapboxgl.Popup()
            //     .setLngLat(e.lngLat)
            //     .setHTML(camp_landuse_features.class + " (" + camp_landuse_features.type  + ")")
            //     .addTo(map);
                    
    });

        map.on('idle', () => {
            // If these two layers were not added to the map, abort
            if (!map.getLayer('camp_landuse') || !map.getLayer('National Parks')) {
                return;
            }
            
            // Enumerate ids of the layers.
            const toggleableLayerIds = ['camp_landuse', 'National Parks'];


            // Set up the corresponding toggle button for each layer.
            for (const id of toggleableLayerIds) {
                // Skip layers that already have a button set up.
                if (document.getElementById(id)) {
                continue;
                }
                
                // Create a link.
                const link = document.createElement('a');
                link.id = id;
                link.href = '#';
                link.textContent = id;
                link.className = 'active';
                
                // Show or hide layer when the toggle is clicked.
                link.onclick = function (e) {
                const clickedLayer = this.textContent;
                e.preventDefault();
                e.stopPropagation();
                const visibility = map.getLayoutProperty(
                clickedLayer,
                'visibility'
                );
                
                
                // Toggle layer visibility by changing the layout object's visibility property.
                if (visibility === 'visible') {
                map.setLayoutProperty(clickedLayer, 'visibility', 'none');
                this.className = '';
                } else {
                this.className = 'active';
                map.setLayoutProperty(
                clickedLayer,
                'visibility',
                'visible'
                );
                }
            };
            
            const layers = document.getElementById('menu');
            layers.appendChild(link);
        }

        //Layers for zoom based Symbols

    }
    );

    map.on('mouseenter', 'camp_landuse', () => {
            map.getCanvas().style.cursor = 'pointer';
        });
        
    map.on('mouseleave', 'camp_landuse', () => {
            map.getCanvas().style.cursor = '';
        });

    map.on('mousemove', (g) => {
        
        document.getElementById('mouse_info').innerHTML =
        // `e.point` is the x, y coordinates of the `mousemove` event
        // relative to the top-left corner of the map.
        JSON.stringify(g.point) + '<br />' +
        // `e.lngLat` is the longitude, latitude geographical position of the event.
        
        JSON.stringify(g.lngLat.wrap());
        
        

        });

    

</script>